{% extends 'index.html' %}
{% block content %}
<div class="authDiv">
    <h1>Log in</h1>
    <form type="login" id="loginForm" method="post">
        <div class="mb-3">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required placeholder="input your username">
        </div>
        <div class="mb-3">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required placeholder="input your password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <a href="{{url_for('register')}}">Don't have an account? Register here!</a>
</div>
{% endblock %}